body{
    background-image: url(./images/umbrella2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow-x:hidden;
    height: 700px;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

.navbar1{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    gap:150px;
    margin:20px;
}
ul{
    list-style-type: none;
    display: flex;
    gap:50px;  
}

.links{
    width: 560px;
    display: flex;
    justify-content:space-between;
}

.links a{
    text-decoration: none;
    color:rgb(251, 251, 207);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign{
    display: flex;
    justify-content:space-around;
    width:250px;
}

button{
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: rgba(95, 94, 94, 0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
    cursor: pointer;
    width: 70px;
    transition: 0.5s ease-in-out;
}

button:hover{
    background-color: rgb(78, 78, 78);
    color: white;
}

.content{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    /* position: relative; */
    color: white;
    gap: 105px;
    width: 600px;
    height: 500px; 
    overflow: hidden;
    /* padding-left: 80px; */
}
.hidden{
    display: none;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    background-color: rgb(128, 128, 128,0.4) ;
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    /* filter: blur(5px); */
    /* transition: 3s ease-in; */
}
.form:hover{
    filter: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 30px;
}

.inputs{
    gap:30px;
}

.input-container{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(131, 129, 129, 0.689);
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 12px;
}

input{
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: rgba(141, 139, 139, 0);
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    outline: none;
    position: relative;
    top:-5px;
}

input:focus{
    border: none;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder{
    position: relative;
    left:10px;
    color: rgba(255, 255, 255, 0.622);
}

.log{
    position: relative;
    bottom: 8px;
    left: 290px;
    transition: 0.5s ease-in-out;
}

.register{
    position: relative;
    bottom: 8px;
    left: 300px;
    transition: 0.5s ease-in-out;
}

.footer{

    background-size:cover;
    background-position: center;
    height:fit-content;
    padding: 60px;
    
        a{
            text-decoration: none;
            color: black;
        }
    
}
.toast{
    position: fixed;
    top: 20px;  
    right: 20px; 
    z-index: 1055;
}

input:-webkit-autofill {
    background-color: transparent !important; /* Makes the background transparent */
    -webkit-box-shadow: 0 0 0px 1000px rgb(131, 129, 129,) inset !important; /* Ensures input background matches the rest */
    -webkit-text-fill-color: black !important; /* Sets the text color explicitly */
  }
  
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: black !important;
  }

  @media screen and (max-width:1141px) {
    .links a{
        text-decoration: none;
        color:rgb(251, 251, 207);
        font-size:12px!important;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    ul{
        gap: 20px;
    }
    body{
        background-size:auto;
        object-fit: contain!important;
    }
  }
  @media screen and (max-width:848px){
    /* .links a{
        text-decoration: none;
        color:rgb(251, 251, 207);
        font-size:6px!important;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } */
    .navbar1{
        gap: 70px;
    }
  
  }
  @media screen and (max-width:896px){
    .links{
        display: none;
    }
    .input-container{
    width: 400px;
    }
  .name{
    display: flex;
    flex-direction: column!important;
    justify-content: space-between!important;
    margin-bottom: 80px;
    gap: 30px!important;

  }
  .content{
       padding: 50px;
       padding-top: 90px!important;
       margin-bottom: 20px;
  };
  }

  @media screen and (max-width:490px){
    .links{
        display: none;
    }
    .input-container{
    width: 300px;
    }
}